{{#d-section pageClass="donate"}}
  <div class='container'>
    <div class='contents clearfix body-page'>

      {{#unless site.mobileView}}
        {{static-image name='owl'}}
      {{/unless}}

      {{civically-static-navigation active='donate'}}

      <h3>{{i18n 'discourse_donations.title' site_name=siteSettings.title}}</h3>

      <div class="donations-page-description">
        {{i18n 'discourse_donations.description'}}
      </div>

      <div class="donations-page-payment">
        {{stripe-card charges=charges subscriptions=subscriptions}}
      </div>

      <div class="donations-page-donations">
        <h3>{{i18n 'discourse_donations.donations.title'}}</h3>
        {{#if loadingDonations}}
          <span>{{i18n 'discourse_donations.donations.loading'}}</span>
          {{loading-spinner size='small'}}
        {{else}}
          {{#if currentUser}}
            {{#if hasDonations}}
              {{donation-list charges=charges subscriptions=subscriptions customer=customer}}
            {{else}}
              {{i18n 'discourse_donations.donations.none'}}
            {{/if}}
          {{else}}
            {{d-button action="showLogin"
                       class="btn-primary login-button"
                       icon="user"
                       label="log_in"}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
{{/d-section}}
